<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseContentIdentifier</key>
	<string>com.apple.playgrounds.blank</string>
	<key>BaseContentVersion</key>
	<string>1.0</string>
	<key>ContentType</key>
	<string>PlaygroundBookUserEdit</string>
	<key>Diffs</key>
	<dict>
		<key>Chapters/Chapter1.playgroundchapter/Pages/70E8963C-0B5F-43C5-948D-B7FD633AD89B.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/70E8963C-0B5F-43C5-948D-B7FD633AD89B.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/D1F2841F-63B3-4FC4-A033-9E982841A311.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/UserManifest.plist</key>
		<string>Added</string>
		<key>UserModules/DrawCalc.playgroundmodule/Sources/DrawCalculatorViewController.swift</key>
		<string>Added</string>
		<key>UserModules/DrawCalc.playgroundmodule/Sources/OCRHandler.swift</key>
		<string>Added</string>
		<key>UserModules/EquationParser.playgroundmodule/Sources/Convenience.swift</key>
		<string>Added</string>
		<key>UserModules/EquationParser.playgroundmodule/Sources/EntryKeyboard.swift</key>
		<string>Added</string>
		<key>UserModules/EquationParser.playgroundmodule/Sources/EntryToolbar.swift</key>
		<string>Added</string>
		<key>UserModules/EquationParser.playgroundmodule/Sources/ExpressionHelper.swift</key>
		<string>Added</string>
		<key>UserModules/EquationParser.playgroundmodule/Sources/MalformedExpressionError.swift</key>
		<string>Added</string>
		<key>UserModules/EquationParser.playgroundmodule/Sources/ParseHelper.swift</key>
		<string>Added</string>
		<key>UserModules/EquationParser.playgroundmodule/Sources/SolvableExpression.swift</key>
		<string>Added</string>
		<key>UserModules/GraphCalc.playgroundmodule/Sources/Graph.swift</key>
		<string>Added</string>
		<key>UserModules/GraphCalc.playgroundmodule/Sources/GraphView.swift</key>
		<string>Added</string>
		<key>UserModules/GraphCalc.playgroundmodule/Sources/GraphingCalculatorViewController.swift</key>
		<string>Added</string>
		<key>UserModules/GraphCalc.playgroundmodule/Sources/Point.swift</key>
		<string>Added</string>
		<key>UserModules/GraphCalc.playgroundmodule/Sources/PointValueView.swift</key>
		<string>Added</string>
		<key>UserModules/Introduction.playgroundmodule/Sources/IntroView.swift</key>
		<string>Added</string>
		<key>UserModules/MultiCalc.playgroundmodule/Sources/MainTabViewController.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/SharedCode.swift</key>
		<string>Removed</string>
	</dict>
	<key>FormatVersion</key>
	<integer>2</integer>
	<key>UpdatedContentVersion</key>
	<string>1.0</string>
</dict>
</plist>
