<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>70E8963C-0B5F-43C5-948D-B7FD633AD89B.playgroundpage</string>
		<string>D1F2841F-63B3-4FC4-A033-9E982841A311.playgroundpage</string>
	</array>
</dict>
</plist>
