<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>07793134-4AC6-49C9-99BD-600DBCD6C91D.playgroundpage</string>
		<string>793C2381-2401-4455-93FF-44D97F4AB802.playgroundpage</string>
		<string>13FD75F4-F41D-4F83-BECA-DCDBF66B139B.playgroundpage</string>
		<string>D1F2841F-63B3-4FC4-A033-9E982841A311.playgroundpage</string>
		<string>BC76DF07-504E-4476-B451-D6829B4C23CE.playgroundpage</string>
	</array>
</dict>
</plist>
