<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>70E8963C-0B5F-43C5-948D-B7FD633AD89B.playgroundpage</string>
		<string>E53FF7F9-B3B8-4EA2-BB13-74E8D03E7221.playgroundpage</string>
	</array>
</dict>
</plist>
